<div class="questions-container {{close ? 'close' : '' }}">
    <div class="questions-box {{close ? 'close' : '' }}">
        <div class="q-top">
            <p>Seleccione el tipo de pregunta</p>
            <img src="assets/icons/close-icon.svg" alt=""  (click)="onClose()" >
        </div>
        <div class="q-main">
            <div class="options-container">
                <div class="o-box" (click)="selectType('table')">
                    <img src="assets/icons/table-icon.svg" alt="">
                    <span class="o-title">Tabla</span>
                </div>
                <div class="o-box" (click)="selectType('checkbox')">
                    <img src="assets/icons/check-icon.svg" alt="">
                    <span class="o-title">Checkbox</span>
                </div>
                <div class="o-box" (click)="selectType('yes/no')">
                    <img src="assets/icons/yes-no-icon.svg" alt="">
                    <span class="o-title">Si y No</span>
                </div>
                <div class="o-box" (click)="selectType('open')">
                    <img src="assets/icons/open-q-icon.svg" alt="">
                    <span class="o-title">Abierta</span>
                </div>
                <div class="o-box" (click)="selectType('scale')">
                    <img src="assets/icons/scale-opinion-icon.svg" alt="">
                    <span class="o-title">Escala de Opciones</span>
                </div>
            </div>
        </div>
    </div>
</div>
