.questions-container {
    position: fixed;
    background: rgba($color: #000000, $alpha: 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
	animation: fadeIn 0.5s ease forwards;

	@keyframes fadeIn {
		from {
			opacity: 0;
		}

		to {
			opacity: 1;
		}
	}


    .questions-box {
        width: 60%;
        height: 75%;
        background-color: white;
        flex-direction: column;
        display: flex;
        border-radius: 5px;
        opacity: 0;
		transition: opacity 0.5s ease-in-out;
		animation: fadeIn 0.5s ease forwards;

		@keyframes fadeIn {
			from {
				opacity: 0;
			}

			to {
				opacity: 1;
			}
		}


        .q-top {
            height: 10%;
            border-bottom: 0.5px solid #bababa;
            padding: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            p {
                font-size: 16px;
                font-weight: 500;
                color: #333E48;
            }

            img {
                height: 20px;
                cursor: pointer;
            }
        }

        .q-main {
            padding: 30px 20px;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .options-container {
                display: flex;

                .o-box {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-between;
                    height: 70px;
                    width: 20%;
                    border-right: 0.5px solid #bababa;

                    img {
                        height: 30px;
                    }

                    span {
                        font-size: 12px;
                        color: #bababa;
                    }
                    
                    

                }

                .o-box:hover {

                    cursor: pointer;
                    img {
                        filter: brightness(0) saturate(100%) invert(67%) sepia(83%) saturate(5336%) hue-rotate(183deg) brightness(100%) contrast(102%);
                    }
                    
                    span {
                        color: #0D99FF;
                    }
                }

                .o-box:last-child {
                    border-right: none;
                }

            }
           
        }


    }
    .questions-box.close {
		opacity: 1;
		transition: opacity 0.5s ease-in-out;
		animation: fadeoff 0.5s ease forwards;

		@keyframes fadeoff {
			from {
				opacity: 1;
			}

			to {
				opacity: 0;
			}
		}
	}

}

.questions-container.close {

	opacity: 1;
	transition: opacity 0.5s ease-in-out;
	animation: fadeoff 0.5s ease forwards;

	@keyframes fadeoff {
		from {
			opacity: 1;
		}

		to {
			opacity: 0;

		}
	}
}