<div class="setting-container {{close ? 'close' : '' }}">
    <div class="setting-box {{close ? 'close' : '' }}">
        <div class="top-section">
            <span class="setting-title">Configuración</span>
            <img src="assets/icons/close-icon.svg" alt=""  (click)="onClose()" >
        </div>
        <main>
            <form  [formGroup]="settingForm"  (ngSubmit)="onSubmit()">
                <div class="settings-container">
                    <div class="setting-box">
                        <span class="box-title">Editar nombre encuesta</span>
                        <input type="text" placeholder="Nombre de la Encuesta" formControlName="title"> 
                        <span class="error-input-message" *ngIf="errorMessage"><mat-icon class="error-icon">error</mat-icon>Debe agregar un nombre para la encuesta.</span>
                    </div>
                    <div class="setting-box">
                        <span class="box-title">Eliminar encuesta</span>
                        <span class="error-message"><img src="assets/icons/warning-yellow-icon.svg" alt="">Una vez eliminada la encuesta, no se podra recuperar la información.</span>
                        <button class="btn btn-delete" (click)="deleteSurvey()">Eliminar</button>
                    </div>
                </div>
                <div class="btn-container">
                    <button class="btn btn-cancel" (click)="onClose()">Cancelar</button>
                    <button class="btn btn-confirm" type="submit">Aplicar cambios</button>
                </div>
            </form>
        </main>
    </div>
</div>


