
<div class="container">
    <app-questions-options *ngIf="openQuestion"  (formClose)="openQuestionsMenu()" (typeSelected)="onSelectedType($event)" ></app-questions-options>
  <header>
    <app-user-bar></app-user-bar>
    <div class="dashboard-menu">
        <div class="menu-left">
            <span class="home-icon"> <img src="assets/icons/home-icon.svg" alt=""> </span>
            <span class="survey-title">Example</span>
        </div>
        <div class="menu-right">
            <button class="btn-save btn">Guardar <img src="assets/icons/save-icon.svg" alt=""> </button>
            <button class="btn-view btn">Vista Previa</button>
        </div>
    </div>
  </header>
  <main>
    <aside>
        <div class="aside-options">
            <div class="icon-box">
                <span> <img src="assets/icons/pencil-icon.svg" alt=""></span>
            </div>
            <div class="icon-box">
                <span> <img src="assets/icons/pig-icon.svg" alt=""></span>
            </div>
            <div class="icon-box">
                <span> <img src="assets/icons/setting-icon.svg" alt=""></span>
            </div>
        </div>
        <div class="question-list">
            <div class="question-box" *ngFor="let question of questions">
                <span class="numeral">{{question.numeral}}</span>
                <span class="question-icon"> <img src='assets/icons/{{question.icon}}.svg' alt=""></span>
                <span class="question-text">{{question.text}}</span>
                <span class="delete-icon"> <mat-icon (click)="deleteQuestion(question.id)" >delete</mat-icon> </span>
            </div>
            <div class="add-question-box">
                <span class="add-q-icon"> <mat-icon>add</mat-icon> </span>
                <span class="add-q-text" (click)="openQuestionsMenu()">Agregar pregunta</span>
            </div>
        </div>
    </aside>
    <div class="main-panel">
       <app-checkbox-question></app-checkbox-question>
    </div>
  </main>
</div>
