.form-box {
    display: flex;
    flex-direction: column;
    gap: 5px;
        

    .select-container {
        height: 35px;
        display: flex;
        position: relative;

        select {
            width: 100%;
            appearance: none;
            padding: 0 5px;
            font-size: 14px;
            height: auto;
            border-radius: 6px;
            border: 0.2px solid #b2b2b2;
            background-color: #F5F5F5;
            color: #333E48;
            
        }

        select:focus {
            border: 0.5px solid #0D99FF;
            outline: none;
        }

        .select-icon {
            position: absolute;
            top: 3px;
            right: 5px;
            font-size: 28px;
            color: #b2b2b2;
            cursor: pointer;
        }

       
    }
    
}
