.form-box {
    display: flex;
    flex-direction: column;
    gap: 5px;

        select {
            height: 35px;
            width: 200px;
            border-radius: 6px;
            border: 0.2px solid #b2b2b2;
        }
    
        select:focus {
            border: 0.5px solid #0D99FF;
            outline: none;
        }
    
}
