<div class="form-container {{close ? 'close' : ''}}">
    <app-spiner *ngIf="isLoading"></app-spiner>
    <div class="form-container-box {{close ? 'close' : ''}}">
        <div class="top-section">
           <span class="form-title">Ejemplo</span>
           <mat-icon class="btn-close"(click)="onClose()">close</mat-icon>
        </div>
        <div class="main-section">
            <form  [formGroup]="surveyForm"  (ngSubmit)="onSubmit()">
                <div class="form-box">
                    <label for="title">Titulo Encuesta</label>
                    <input type="text" name="title"  formControlName="title">
                    <span class="error-message" *ngIf="errorMessage"><mat-icon class="error-icon">error</mat-icon>Debe añadir un nombre para crear la encuesta.</span>
                </div>
                <div class="btns-section">
                    <button class="btn-cancel" (click)="onClose()" >Cancelar</button>
                    <div class="btn-bottom-box">
                        <button class="btn-confirm" type="submit">Crear</button>
                    </div>
                </div>
            </form>
        </div>    
    </div>
</div>
