<div class="form-container">
    <div class="form-container-box">
        <div class="top-section">
           <span class="form-title">Ejemplo</span>
           <mat-icon class="btn-close"  (click)="onClose()">close</mat-icon>
        </div>
        <div class="main-section">
            <form  [formGroup]="surveyForm"  (ngSubmit)="onSubmit()">
                <div class="form-box">
                    <label for="title">Titulo Encuesta</label>
                    <input type="text" name="title"  formControlName="title">
                </div>
                <div class="form-box">
                    <label for="">Categoria (Opcional)</label>
                    <app-filter-select [options]="options"></app-filter-select>
                </div>
                <div class="btns-section">
                    <button class="btn-cancel" (click)="onCancel()" >Cancelar</button>
                    <div class="btn-bottom-box">
                        <button class="btn-confirm" type="submit">{{survey ? "Editar" : "Crear"}}</button>
                    </div>
                </div>
            </form>
        </div>    
    </div>
</div>
