<app-survey-form *ngIf="isFormVisible"  (formClose)="closeForm()" (surveySaved)="onSurveySaved()" > </app-survey-form>
<div class="container">
    <div class="survey-menu">
        <div class="top-section">
            <app-user-bar></app-user-bar>
        </div>
        <div class="bottom-section">
            <button class="btn-confirm" (click)="openCreateSurveyForm()">Crear Encuesta</button>
            <div class="search-box">
                <input type="text" [(ngModel)]="searchTerm" (ngModelChange)="filterSurveys()">
                <mat-icon class="search-bar-icon">search</mat-icon>
            </div>
            <div class="menu-select-box">
                <app-filter-select [options]="options"></app-filter-select>
            </div>
        </div>
    </div>
    <main>
        <div class="main-title">
            Encuestas
        </div>
        <div class="survey-container">
            <div class="survey-colums-box">
                <ul>
                    <span class="left-menu">
                        <li>Nombre y Fecha de Modificacción</li>
                    </span>
                    <span class="right-menu">
                        <li>Preguntas</li>
                        <li>Clonar</li>
                        <li>Estado</li>
                        <li>Acciones</li>
                    </span>
                </ul>
            </div>
            <div class="survey-rows-box" *ngFor="let survey of filteredSurveys" >
                <div class="left-section">
                    <div class="title-box">
                        <span class="survey-title">{{survey.title}}</span>
                        <span class="survey-update">Modificado {{ survey.updated_date}}</span>
                    </div>
                </div>
                <div class="right-section">
                    <div class="row-box">
                        <span class="survey-number"> {{survey.questions.length}}</span>
                    </div>
                    <div class="row-box">
                        <span class="btn-clon btn"> <mat-icon  class="btn-icon">content_copy</mat-icon></span>
                    </div>
                    <div class="row-box">
                        <span class="survey-state">{{survey.state}}</span>
                    </div>
                    <div class="row-box">
                        <div class="actions-box">
                            <span class="btn-delete btn" (click)="deleteSurvey(survey.id)" > <mat-icon class="btn-icon">delete</mat-icon> </span>
                            <span class="btn-edit btn" (click)="editSurvey(survey)" > <mat-icon class="btn-icon">edit</mat-icon></span>
                            <span class="btn-info btn"><mat-icon class="btn-icon">info</mat-icon></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
