<app-survey-form></app-survey-form>
<div class="container">
    <div class="survey-menu">
        <div class="top-section">
            <app-user-bar></app-user-bar>
        </div>
        <div class="bottom-section">
            <div class="menu-buton-box">
                <app-confirm-button text="Crear Encuesta"></app-confirm-button>
            </div>
            <div class="search-box">
                <input type="text">
                <mat-icon class="search-bar-icon">search</mat-icon>
            </div>

            <div class="menu-select-box">
                <app-filter-select [options]="options"></app-filter-select>
            </div>
        </div>
    </div>
    <main>
        <div class="main-title">
            Encuestas
        </div>
        <div class="survey-container">
            <div class="survey-colums-box">
                <ul>
                    <span class="left-menu">
                        <li>Nombre y Fecha de Modificacción</li>
                    </span>
                    <span class="right-menu">
                        <li>Preguntas</li>
                        <li>Clonar</li>
                        <li>Estado</li>
                        <li>Acciones</li>
                    </span>
                </ul>
            </div>
            <div class="survey-rows-box">
                <div class="left-section">
                    <div class="title-box">
                        <span class="survey-title">test</span>
                        <span class="survey-update">Modificado 03/07/89</span>
                    </div>
                </div>
                <div class="right-section">
                    <div class="row-box">
                        <span class="survey-number">8</span>
                    </div>
                    <div class="row-box">
                        <span class="btn-clon btn"> <mat-icon  class="btn-icon">content_copy</mat-icon> </span>
                    </div>
                    <div class="row-box">
                        <span class="survey-state">Publicada</span>
                    </div>
                    <div class="row-box">
                        <div class="actions-box">
                            <span class="btn-delete btn"> <mat-icon class="btn-icon">delete</mat-icon> </span>
                            <span class="btn-edit btn"> <mat-icon class="btn-icon">edit</mat-icon></span>
                            <span class="btn-info btn"><mat-icon class="btn-icon">info</mat-icon></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
