.preview-container {
    
    background-color: #efefef;
    padding: 10px;
    height: calc(75% - 20px);
    overflow-x: scroll;
    position: relative;

    .zoom-control-box {
        position: fixed;
        top: 185px;
        right: 35px;
        width: 120px;
        display: flex;
        height: 60px;
        border: 0.2px solid #0D99FF;
        z-index: 1000;

        .zoom-box {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 60px;
            width: 60px;

            img {
                height: 25px;
                cursor: pointer;
            }
        }
    }

    .zoom-control-box >:first-child {
        border-right: 0.2px solid #0D99FF;
    }


    .preview-box {
        
        background-color: white;
        border-radius: 5px;
        padding: 10px;
        height: auto;

        .p-inner-box {
            height: inherit;
            border: 0.2px solid #B9B9B9;
            border-radius: 5px;


            .questions-container {
                display: flex;
                flex-direction: column;
                width: 100%;
                gap: 15px;

                .checkbox-view-container {
                    height: auto;
                    
                    .checkbox-view-box {
                    display: flex;
                    flex-direction: column;
                    padding: 40px 10px  20px 40px;
                    gap: 20px;
                    height: -webkit-fill-available;
                
                    .q-number {
                        color: #7D7D7D;
                        font-weight: 500;
                        font-size: 15px;
                    }
                
                    .q-text {
                        color: #333E48;
                        font-size: 17px;
                        font-weight: 500;
                    }
        
                    .q-description {
                        font-size: 16px;
                        font-weight: 400;
                        color: #5A5A5A;
        
                        .dark-description {
                            font-weight: 500;
                        }
                    }
                
                    .options-container {
                        display: flex;
                        flex-direction: column;
                        gap: 20px;
                        padding-top: 10px;
                
                        .option-box {
                         display: flex;
                         gap: 20px;
                         align-items: center;
                
                            .checkbox-box {
                                
                                input[type="checkbox"] {
                                    display: none;
                                }
                
                                input[type="checkbox"]:checked + label::before {
                                    content: "";
                                    position: absolute;
                                    left: 9px;
                                    top: 4px;
                                    width: 8px;
                                    height: 14px;
                                    border: solid #fff;
                                    border-width: 0 3px 3px 0;
                                    transform: rotate(45deg);
                                }
                        
                                input[type="checkbox"]:checked + label {
                                background-color: #0D99FF;
                                border: none;
                                }
                
                                label {
                                    position: relative;
                                    cursor: pointer;
                                    display: inline-block;
                                    width: 30px;
                                    height: 30px;
                                    background-color: white;
                                    border: 0.5px solid #bababa;
                                    border-radius: 4px;
                                    transition: background-color 0.2s;
                                }
                
                
                            } 
                
                            .option-text {
                                color: #333E48;
                                font-size: 15px;
                                font-weight: 400;
                            }
                        }
                         
                    }
                
                    .another-field-container {
                        display: flex;
                        gap: 20px;
                        align-items: center;
                
                        .af-text {
                            color: #666666;
                            font-size: 13px;
                            font-weight: 400;
                        }
                
                        .af-input {
                
                            border: 0.5px solid #bababa;
                            height: 35px;
                            border-radius: 5px;
                            width: 50%;
                            padding-left: 5px;
                            color: #333E48;
                        }
                
                        .af-input:focus {
                           outline: none;
                           border: 0.5px solid #0D99FF;
                        }
                    }
        
                    .note-message {
                        color: #0D99FF;
                        font-size: 13px;
        
                        .dark-message {
                            font-weight: 500; 
                            font-size: 15px; 
                        }
                    }
        
                    .required-message-view {
                        color:#DD1F1F;
                        font-size: 13px;
                        font-weight: 500;
                        display: flex;
                        align-items: center;
                        width: fit-content;
                        gap:10px;
        
                        img {
                            height: 20px;
                        }
                    }
                
                    .required-message {
                        color:#DD1F1F;
                        border: 0.5px solid #DD1F1F;
                        border-radius: 5px;
                        padding: 7px 15px;
                        font-size: 13px;
                        font-weight: 500;
                        display: flex;
                        align-items: center;
                        width: fit-content;
                        gap:10px;
                        
                        img {
                            height: 20px;
                        }
                    }
                    
                    }
                
                }
    
                .table-view-container {
                    height: auto;
                   
                    
                .table-view-box {
                    display: flex;
                    flex-direction: column;
                    padding: 40px 10px  20px 40px;
                    gap: 20px;
                    height: -webkit-fill-available;
                
                    .q-number {
                        color: #7D7D7D;
                        font-weight: 500;
                        font-size: 15px;
                    }
                
                    .q-text {
                        color: #333E48;
                        font-size: 17px;
                        font-weight: 500;
                    }
        
                    .q-description {
                        font-size: 16px;
                        font-weight: 400;
                        color: #5A5A5A;
        
                        .dark-description {
                            font-weight: 500;
                        }
                    }
        
                    .table-section {
                        .table-styled{
                            border-radius: 5px; 
                            border:0.2px solid #B9B9B9;
                            overflow: hidden; 
                            max-width: 90%;
                            margin: auto;
                            table {
                               
                                border-right: hidden;
                                border-left: hidden;
                                border-top: hidden;
                                border-bottom: hidden;
                                border-collapse: collapse;
                                width: -webkit-fill-available;
                                
                                thead {
                                    tr{
                                        th {
                                            border: 0.2px solid #B9B9B9;
                                            padding: 14px 0;
                                            text-align: center;
                                            font-size: 17px;
                                            font-weight: 500;
                                            color: #333E48;
                                        }
            
                                        .no-visible-clm {
                                            color: #0D99FF;
                                            font-size: 12px;
                                            display: flex;
                                            justify-content: center;
                                            gap: 5px;
                                            border: none;
        
                                            img { 
                                                height: 20px;
                                            }
                                        }
                                    }
                                }
                                tbody {
            
                                    tr {
                                        
                                        td {
                                            border: 0.2px solid #B9B9B9;
                                            padding: 8px;
                                            text-align: center;
                                            
                                            input[type="radio"] {
                                                transform: scale(1.5);
                                                accent-color: #0e98fd;
                                                
                                            }
        
                                            .custom-radio-btn {
                                                width: 23px;
                                                height: 23px;
                                                border: 0.5px solid #b9b9b9;
                                                border-radius: 50%;
                                                display: flex;
                                                justify-content: center;
                                                align-items: center;
                                                margin: auto;
        
                                                .checkmark {
                                                    width: calc(100% - 6px);
                                                    height: calc(100% - 6px);
                                                    border-radius: 50%;
                                                    background-color: #b9b9b9;
                                                    display: inline-block;
                                                    cursor: pointer;
                                                    transition: opacity 0.2s ease;
                                                }
        
                                                input {
                                                    display: none;
                                                }
        
                                                input:checked + .checkmark {
                                                    background-color: #0D99FF;
                                                }
                                            }
        
        
                                        }
            
                                        .no-visible-clm {
                                            color: #0D99FF;
                                            font-size: 12px;
                                        }
                                    }
            
                                    tr > *:first-child {
                                        font-size: 13px;
                                        font-weight: 500;
                                        color: #333E48;
                                    }
                                }
                            }
                        }
                       
                    }
                
        
                    .note-message {
                        color: #0D99FF;
                        font-size: 13px;
        
                        .dark-message {
                            font-weight: 500; 
                            font-size: 15px; 
                        }
                    }
        
                    .required-message-view {
                        color:#DD1F1F;
                        font-size: 13px;
                        font-weight: 500;
                        display: flex;
                        align-items: center;
                        width: fit-content;
                        gap:10px;
        
                        img {
                            height: 20px;
                        }
                    }
                
                    .required-message {
                        color:#DD1F1F;
                        border: 0.5px solid #DD1F1F;
                        border-radius: 5px;
                        padding: 7px 15px;
                        font-size: 13px;
                        font-weight: 500;
                        display: flex;
                        align-items: center;
                        width: fit-content;
                        gap:10px;
                        
                        img {
                            height: 20px;
                        }
                    }
                    
                }
                
                }
    
                .section-container {
                    padding: 40px 10px 20px 40px;

                    .section-title {
                        font-size: 22px;
                        font-weight: 500;
                        color:#333E48;
                    }
                }
            }

         

        }

    }

}

.preview-container::-webkit-scrollbar {
    height: 9.5px; 
    width: 9.5px;
    background-color: #ececec;
 }

  .preview-container::-webkit-scrollbar-thumb {
    background-color: #9b9b9b;
    border-radius: 3px;
 }