<div class="preview-container">
  <div class="zoom-control-box" *ngIf="dashboardData.length > 0">
    <span class="zoom-box"
      ><img src="assets/icons/plus-zoom-icon.svg" alt="" (click)="zoomIn()"
    /></span>
    <span class="zoom-box"
      ><img src="assets/icons/minus-zoom-icon.svg" alt="" (click)="zoomOut()"
    /></span>
  </div>
  <div class="preview-box" appZoom *ngIf="dashboardData.length > 0">
    <div class="p-inner-box">
      <div class="questions-container" *ngFor="let item of dashboardData">
        <div class="checkbox-view-container" *ngIf="item.type === 'checkbox'">
          <div class="checkbox-view-box">
            <span class="q-number">pregunta {{ item.numeral }}</span>
            <span class="q-text">{{ item.text }}</span>
            <div class="q-description">
              <span class="dark-description" *ngIf="item.description != ''"
                >Descripción: </span
              >{{ item.description }}
            </div>
            <div class="options-container">
              <div
                class="option-box"
                *ngFor="let option of item.options; let i = index"
              >
                <div class="checkbox-box" *ngIf="item.options.length > 0">
                  <input
                    type="checkbox"
                    id="{{ i }}"
                    [checked]="
                      option != '' && option === item.settings.answer_value
                    "
                    [disabled]="true"
                  />
                  <label for="{{ i }}"></label>
                </div>
                <span class="option-text">{{ option }}</span>
              </div>
            </div>
            <div
              class="another-field-container"
              *ngIf="item.settings.another_field"
            >
              <span class="af-text">Otra (Especifique)</span>
              <input type="text" class="af-input" [disabled]="true" />
            </div>
            <span class="note-message"
              ><span class="dark-message" *ngIf="item.settings.add_note"
                >Nota </span
              >{{ item.note_text }}</span
            >
            <div class="required-message-view" *ngIf="item.settings.required">
              Pregunta Obligatoria ACTIVADA
            </div>
          </div>
        </div>
        <div class="table-view-container" *ngIf="item.type === 'table'">
          <div class="table-view-box">
            <span class="q-number">pregunta {{ item.numeral }}</span>
            <span class="q-text">{{ item.text }}</span>
            <div class="q-description">
              <span class="dark-description" *ngIf="item.description != ''"
                >Descripción: </span
              >{{ item.description }}
            </div>
            <div
              class="table-section"
              *ngIf="
                item.options[0].text !== '' || item.no_visible_title !== ''
              "
            >
              <div class="table-styled">
                <table>
                  <thead>
                    <tr>
                      <th *ngFor="let option of item.options">
                        {{ option.text }}
                      </th>
                      <th
                        *ngIf="item.no_visible_title != ''"
                        class="no-visible-clm"
                      >
                        {{ item.no_visible_title }}
                        <img src="assets/icons/no-visible-icon.svg" alt="" />
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      *ngFor="
                        let rowIndex of getMaxLengthValue(item);
                        let i = index
                      "
                    >
                      <td *ngFor="let option of item.options">
                        <ng-container *ngIf="option.type === 'text'">
                          {{ option.rows[i] || "" }}
                        </ng-container>
                        <ng-container *ngIf="option.type === 'radio button'">
                          <label class="custom-radio-btn">
                            <input type="radio" name="sample-{{ i }}" />
                            <span class="checkmark"></span>
                          </label>
                        </ng-container>
                      </td>
                      <td
                        class="no-visible-clm"
                        *ngIf="item.no_visible_title !== ''"
                      >
                        {{ item.no_visible_rows[i] || "" }}
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <span class="note-message"
              ><span class="dark-message" *ngIf="item.settings.addNote"
                >Nota </span
              >{{ item.note_text }}</span
            >
            <div class="required-message-view" *ngIf="item.settings.required">
              Pregunta Obligatoria ACTIVADA
            </div>
          </div>
        </div>
        <div class="section-container" *ngIf="item.type === 'section'">
          <span class="section-title">{{ item.title }}</span>
          <span class="section-description">{{ item.description }}</span>
          <div class="video-controls-container">
            <button class="btn-save btn" (click)="openMultimedia(item)">
              Abrir Video e imagen de la sección
              <img src="assets/icons/play-video-icon.svg" alt="" />
            </button>
            <div class="video-container" *ngIf="itemId === item.id">
              <span class="close-icon" (click)="closeVideo()"
                ><img src="assets/icons/close-video-icon.svg" alt=""
              /></span>
              <div [innerHTML]="iframeHtml"></div>
              <span class="image-container">
                <img src="{{ item.imageUrl }}" alt="" />
              </span>
            </div>
          </div>
        </div>
        <div class="checkbox-view-container" *ngIf="item.type === 'scale'">
          <div class="checkbox-view-box">
            <span class="q-number">pregunta {{ item.numeral }}</span>
            <span class="q-text">{{ item.text }}</span>
            <div class="q-description">
              <span class="dark-description" *ngIf="item.description != ''"
                >Descripción: </span
              >{{ item.description }}
            </div>
            <div class="q-scale-section">
              <div class="scale-circle-box" *ngIf="item.settings.apply">
                <span class="scale-circle">N/A</span>
              </div>
              <div
                class="scale-circle-box"
                *ngFor="let number of getSliderOptions(item.scale_value)"
              >
                <span
                  class="scale-circle {{
                    verifyIndex(number, item.settings.answer_value)
                      ? 'scale-circle-selected'
                      : ''
                  }} "
                  >{{ number }}</span
                >
                <span class="scale-circle-label">{{
                  labelTitle(number, getSliderOptions(item.scale_value), item)
                }}</span>
              </div>
            </div>
            <span class="note-message"
              ><span class="dark-message" *ngIf="item.settings.addNote"
                >Nota </span
              >{{ item.note_text }}</span
            >
            <div class="required-message-view" *ngIf="item.settings.required">
              <img src="assets/icons/warning-icon.svg" alt="" /> Pregunta
              Obligatoria ACTIVADA
            </div>
          </div>
        </div>
        <div class="checkbox-view-container" *ngIf="item.type === 'yes/no'">
          <div class="checkbox-view-box">
            <span class="q-number">pregunta {{ item.numeral }}</span>
            <span class="q-text">{{ item.text }}</span>
            <div class="q-description">
              <span class="dark-description" *ngIf="item.description != ''"
                >Descripción: </span
              >{{ item.description }}
            </div>
            <div class="buttons-yesno-section">
              <span
                class="q-yesno-box {{
                  item.settings.answer_value === 'Si'
                    ? 'q-yesno-box-selected'
                    : ''
                }}"
              >
                <img
                  src="assets/icons/{{
                    item.selected_icons === 'hands'
                      ? 'like-hand-icon'
                      : 'checking-icon'
                  }}.svg"
                  alt=""
                />
                <span class="small-message">SI</span>
              </span>
              <span
                class="q-yesno-box {{
                  item.settings.answer_value === 'No'
                    ? 'q-yesno-box-selected'
                    : ''
                }}"
              >
                <img
                  src="assets/icons/{{
                    item.selected_icons === 'hands'
                      ? 'dislike-hand-icon'
                      : 'deny-icon'
                  }}.svg"
                  alt=""
                />
                <span class="small-message">NO</span>
              </span>
            </div>
            <span class="note-message"
              ><span class="dark-message" *ngIf="item.settings.addNote"
                >Nota </span
              >{{ item.note_text }}</span
            >
            <div class="required-message-view" *ngIf="item.settings.required">
              <img src="assets/icons/warning-icon.svg" alt="" /> Pregunta
              Obligatoria ACTIVADA
            </div>
            <div
              class="required-message-view notify-message"
              *ngIf="item.settings.enlarge_answer"
            >
              <img src="assets/icons/notify-fill-icon.svg" alt="" />Ampliar
              respuesta ACTIVADA
            </div>
          </div>
        </div>
        <div class="checkbox-view-container" *ngIf="item.type === 'open'">
          <div class="checkbox-view-box">
            <span class="q-number">pregunta {{ item.numeral }}</span>
            <span class="q-text">{{ item.text }}</span>
            <div class="q-description">
              <span class="dark-description" *ngIf="item.description != ''"
                >Descripción: </span
              >{{ item.description }}
            </div>
            <span class="note-message"
              ><span class="dark-message" *ngIf="item.settings.addNote"
                >Nota </span
              >{{ item.note_text }}</span
            >
            <div class="text-section">
              <input
                type="text"
                formControlName="text_answer"
                placeholder="Ingrese su Respuesta"
                [attr.disabled]="true"
              />
            </div>
            <div class="required-message-view" *ngIf="item.settings.required">
              <img src="assets/icons/warning-icon.svg" alt="" /> Pregunta
              Obligatoria ACTIVADA
            </div>
          </div>
        </div>
        <div class="checkbox-view-container" *ngIf="item.type === 'dynamic'">
          <div class="checkbox-view-box">
            <div class="question-data-box">
              <span class="q-number">{{ item.numeral }}</span>
              <div class="question-text-box">
                <span class="q-text">{{ item.text }}</span>
                <div *ngIf="item.description != ''" class="q-description">
                  <span class="dark-description">Descripción: </span
                  >{{ item.description }}
                </div>
              </div>
            </div>
            <span class="note-message"
              ><span class="dark-message" *ngIf="item.settings.addNote"
                >Nota </span
              >{{ item.note_text }}</span
            >
            <div class="dynamic-view-container">
              <div
                class="question-view-box"
                *ngFor="let category of item.categories; let i = index"
              >
                <div class="category-fields" *ngIf="category.title">
                  <div class="checkbox-box">
                    <input type="checkbox" id="{{ i }}" [disabled]="true" />
                    <label for="{{ i }}"></label>
                  </div>
                  <div class="category-info-box">
                    <span class="category-title">
                      {{ category.title }}
                    </span>
                    <span class="category-description">
                      {{ category.description }}
                    </span>
                  </div>
                  <span class="dynamic-view-btn">
                    <mat-icon>slideshow</mat-icon>
                  </span>
                  <span class="dynamic-view-btn"
                    ><mat-icon>image</mat-icon></span
                  >
                </div>

                <div
                  class="category-container"
                  *ngFor="
                    let subcategory of item.categories[i].subcategories;
                    let j = index
                  "
                >
                  <div
                    class="category-fields subcategory-fields"
                    *ngIf="subcategory.sub_title"
                  >
                    <div class="checkbox-box">
                      <input type="checkbox" id="{{ j }}" [disabled]="true" />
                      <label for="{{ j }}"></label>
                    </div>
                    <div class="category-info-box">
                      <span class="category-title">
                        {{ subcategory.sub_title }}
                      </span>
                      <span class="category-description">
                        {{ subcategory.sub_description }}
                      </span>
                    </div>
                    <span class="dynamic-view-btn">
                      <mat-icon>slideshow</mat-icon></span
                    >
                    <span class="dynamic-view-btn"
                      ><mat-icon>image</mat-icon></span
                    >
                  </div>
                </div>
              </div>
            </div>

            <div class="required-message-view" *ngIf="item.settings.required">
              <img src="assets/icons/warning-icon.svg" alt="" /> Pregunta
              Obligatoria ACTIVADA
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
