<div class="checkbox-view-container">
    <div class="checkbox-view-box">
        <span class="q-number">numero </span>
        <span class="q-text">pregunta</span>
        <div class="options-container">
            <div class="option-box">
                <div class="checkbox-box">
                    <input type="checkbox" id="myCheckbox">
                    <label for="myCheckbox"></label>
                </div>
                <span class="option-text">Opción 1</span>
            </div>
        </div>
        <div class="another-field-container">
           <span class="af-text">Otra (Especifique)</span>
           <input type="text" class="af-input">
        </div>
        <div class="required-message"><img src="assets/icons/warning-icon.svg" alt="">  Esta pregunta es obligatoria</div>
</div>    
</div>
