.btn-confirm {
    padding: 10px 15px;
    color: white;
    background-color: #0D99FF;
    border-radius: 6px;
    border: none;
    font-size: 15px;
    font-weight: 600;
    font-family: "Poppins";
    cursor: pointer;
}

.btn-confirm:hover {
    background-color: #0076ca;
    transition: background-color  0.2s ease-in;
}