.btn-confirm {
    padding: 0 20px;
    width: min-content;
    color: white;
    height: 35px;
    background-color: #D8EEFF;
    border: 0.5px solid #0D99FF;
    border-radius: 6px;
    color: #0D99FF;
    font-size: 12px;
    font-weight: 500;
    font-family: "Poppins";
    cursor: pointer;
}

.btn-confirm:hover {
    background-color: #0076ca;
    transition: background-color  0.2s ease-in;
}