<div class="main-container">
    <div class="top-options-section">
        <span (click)="onChangeSection()" class="{{changeSection ?'section-active' : ''}} ">Editar</span>
        <span (click)="onChangeSection()" class="{{!changeSection ?'section-active' : ''}} ">Vista</span>
    </div>
    <div class="edit-section" *ngIf="changeSection">
        <div class="question-container">
            <form  [formGroup]="tableForm" (ngSubmit)="onSubmit()">
            <div class="question-section">
                <div class="question-s-number">
                    <span class="number">1</span>
                </div>
                
                <div class="question-s-container">
                    <input type="text" class="q-s-title" placeholder="Ingrese la Pregunta"  formControlName="text">
                    <input type="text" class="q-s-description" placeholder="Descripción" formControlName="description">
                </div>
            </div>
            <div class="note-section" *ngIf="addNote">
                <input type="text" placeholder="Añadir Nota (Solo para el creador de la encuesta)" formControlName="note_text">
            </div>
            <div class="options-section">
                <div formArrayName="options" class="options-s-container">
                    <div class="options-form-container" *ngFor="let option of options.controls; let i = index">
                        <div class="option-box">
                            <input type="text" [formControlName]="i" (change)="updateAnswer()" placeholder="columna - {{i+1}}">
                            <app-filter-select [options]="['Texto','Radio Boton']"></app-filter-select>
                        </div>
                        <div class="actions-box">
                            <img src="assets/icons/minus-icon.svg" alt="" (click)="removeOption(i)" > 
                            <span class="plus-icon" (click)="addOption(i)"><img src="assets/icons/plus-icon-blue.svg" alt="" ></span>
                        </div>

                    </div>
                </div>
                <div class="o-buttons-container">
                    <button class="btn" (click)="addOption(options.length - 1)">Añadir columna</button>
                    <button class="btn">Añadir columna No visible</button>
                </div>
            </div>
            <div class="settings-section">
                <div class="settings-s-top">
                    <div class="eyelash-box">
                        Opciones
                    </div>
                </div>
                <div class="settings-s-container" formGroupName="settings">
                    <div class="c-section">
                        <div class="container-box">
                            <span class="label">Adjuntar video/imagen para pregunta</span>
                            <div class="answer-box">
                                <div class="file-container">
                                    <input type="file" class="attach-btn btn" value="Adjuntar"  id="question_multimedia" formControlName="question_multimedia" (change)="onFileChange($event, 'question_multimedia')">
                                    <label for="question_multimedia">Adjuntar</label>
                                    <span class="file-message" *ngIf="qMessage">Archivo cargado</span>
                                </div>
                                <div class="clean-file-container" *ngIf="qMessage">
                                    <span class="btn-clean-file" (click)="resetInputFile('question_multimedia')"><img src="assets/icons/reset-icon.svg" alt=""></span>
                                </div>
                            </div>
                        </div>
                        <div class="container-box">
                            <span class="label">Adjuntar video/imagen para las opciones</span>
                            <div class="answer-box">
                                <div class="file-container">
                                    <input type="file" class="attach-btn btn" value="Adjuntar"  id="options_multimedia" formControlName="options_multimedia" (change)="onFileChange($event, 'options_multimedia')"> 
                                    <label for="options_multimedia">Adjuntar</label>
                                    <span class="file-message" *ngIf="aMessage">Archivo cargado</span>
                                </div>
                                <div class="clean-file-container" *ngIf="aMessage">
                                    <span class="btn-clean-file" (click)="resetInputFile('options_multimedia')"><img src="assets/icons/reset-icon.svg" alt=""></span>
                                </div>
                            </div>
                        </div>
                        <div class="container-box">
                            <span class="label">Obligatorio</span>
                            <app-toggle-button name="required" #appToggleButton  (toggleValues)="getToggleValues($event)"></app-toggle-button>
                        </div>  
                        <div class="container-box">
                            <span class="label">Añadir Nota</span>
                            <app-toggle-button name="add_note" #appToggleButton (toggleValues)="getToggleValues($event)"></app-toggle-button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="btn-section">
                <button class="btn-clean btn" type="button" (click)="onResetForm()">Restaurar <mat-icon>refresh</mat-icon> </button>
                <button class="btn-confirm btn" type="submit">Guardar</button>
            </div>
            </form>
        </div>
    </div>
    <div class="view-section"  *ngIf="!changeSection" >
        <div class="table-view-container">
            <div class="table-view-box">
                <span class="q-number">pregunta #</span>
                <span class="q-text">{{tableForm.value.text}}</span>
                <div class="q-description"> <span class="dark-description" *ngIf="tableForm.value.description != '' " >Descripción: </span>{{tableForm.value.description}}</div>
                <span class="note-message"><span class="dark-message" *ngIf="addNote">Nota  </span>{{tableForm.value.note_text}}</span>
                <div class="required-message-view" *ngIf="required">
                    <img src="assets/icons/warning-icon.svg" alt=""> Pregunta Obligatoria ACTIVADA</div>
                </div>    
        </div>
    </div>
</div>







