<div class="container {{ isVisible ? 'show' : '' }}">
  <div class="selector-container" (click)="togglePanel()">
    <mat-icon>accessibility_new</mat-icon>
  </div>
  <div class="options-container">
    <div class="row">
      <span class="letter-box">
        <mat-icon>zoom_in</mat-icon>
      </span>
      <span class="letter-box">
        <mat-icon>zoom_out</mat-icon>
      </span>
    </div>
    <div class="row">
      <span class="letter-box">
        <mat-icon>text_increase</mat-icon>
      </span>
      <span class="letter-box">
        <mat-icon>text_decrease</mat-icon>
      </span>
    </div>
    <div class="row">
      <span class="option-text">
        <mat-icon>contrast</mat-icon>
        Escala de grises
      </span>
    </div>
    <div class="row">
      <span class="option-text">
        <mat-icon>format_color_reset</mat-icon>
        Invertir colores
      </span>
    </div>
    <div class="row">
      <span class="option-text">
        <mat-icon>format_paint</mat-icon>
        Modo sepia
      </span>
    </div>
    <div class="row">
      <span class="option-text">
        <mat-icon>ads_click</mat-icon>
        Cursor grande
      </span>
    </div>

    <div class="restore-btn">Restaurar cambios</div>
  </div>
</div>
