<div class="container">
  <div class="options-container">
    <div class="row">
      <span class="letter-box">
        <mat-icon>text_increase</mat-icon>
      </span>
      <span class="letter-box">
        <mat-icon>text_decrease</mat-icon>
      </span>
    </div>
    <div class="row">
      <span class="option-text">
        <mat-icon>contrast</mat-icon>
        Escala de grises
      </span>
    </div>
    <div class="row">
      <span class="option-text">
        <mat-icon>format_color_reset</mat-icon>
        Invertir colores
      </span>
    </div>
    <div class="row">
      <span class="option-text">
        <mat-icon>colors</mat-icon>
        Modo sepia
      </span>
    </div>
    <div class="row">
      <span class="option-text">
        <mat-icon>web_traffic</mat-icon>
        Cursor grande
      </span>
    </div>
  </div>
  <div class="selector-container"></div>
</div>
