<div class="main-container">
    <app-spiner *ngIf="spinner"></app-spiner>
    <div class="top-options-section">
        <span (click)="onChangeSection()" class="{{changeSection ?'section-active' : ''}} ">Editar</span>
        <span (click)="onChangeSection()" class="{{!changeSection ?'section-active' : ''}} ">Vista</span>
    </div>
    <div class="edit-section" *ngIf="changeSection">
        <div class="question-container">
            <form  [formGroup]="scaleForm" (ngSubmit)="onSubmit()">
            <div class="question-section">
                <div class="question-s-number">
                    <span class="number">{{scaleForm.value.numeral}}</span>
                </div>
                
                <div class="question-s-container">
                    <input type="text" class="q-s-title" placeholder="Ingrese la Pregunta"  formControlName="text">
                    <input type="text" class="q-s-description" placeholder="Descripción" formControlName="description">
                </div>
            </div>
            <div class="note-section" *ngIf="addNote">
                <input type="text" placeholder="Añadir Nota (Solo para el creador de la encuesta)" formControlName="note_text">
            </div>
            <div class="scale-section">
                <div class="scale-circle-box" *ngIf="this.scaleForm.value.settings.apply">
                    <span class="scale-circle">N/A</span>
                </div>
                <div class="scale-circle-box" *ngFor="let item of sliderOPtions">
                    <span class="scale-circle">{{item}}</span>
                    <span class="scale-circle-label">{{labelTitle(item)}}</span>
                </div>
            </div>
            <div class="settings-section">
                <div class="settings-s-top">
                    <div class="eyelash-box">
                        Opciones
                    </div>
                </div>
                <div class="settings-s-container" formGroupName="settings">
                    <div class="c-section">
                       <div class="container-box">
                            <span class="label">Steps</span>
                            <div class="range">
                                <div class="sliderValue">
                                <span class="{{showValue ? 'show' : ''}}" #slideValue>{{sliderValue}}</span>
                                </div>
                                <div class="field">
                                    <div class="value left">1</div>
                                    <input type="range" min="1" max="10" steps="1"  [value]="sliderValue" (input)="onSliderInput($event)" (blur)="removeValue()" (change)="verifyOptionsValue()" >
                                    <div class="value right">10</div>
                                </div>
                            </div>
                       </div>
                       <div class="container-box">
                         <span class="label">Etiqueta Izquierda</span>
                         <input type="text" class="range-label"  formControlName="left_label">
                       </div>
                       <div class="container-box">
                         <span class="label">Etiqueta Central</span>
                         <input type="text" class="range-label"  formControlName="center_label">
                       </div>
                       <div class="container-box">
                         <span class="label">Etiqueta Derecha</span>
                         <input type="text" class="range-label"  formControlName="right_label">
                       </div>
                    </div>
                    <div class="c-section">
                        <div class="container-box mayor">
                            <span class="label">Respuesta por defecto</span>
                            <div class="answer-box">
                                <app-toggle-button name="defected_answer"  #appToggleButtonDefectedA  [elementData]="scaleForm.value" [OAnswer]="sliderOPtions.length" (toggleValues)="getToggleValues($event)"></app-toggle-button>
                                <div class="select-container" *ngIf="defectedAnswer">
                                    <app-filter-select  [options]="sliderOPtions" #appFilterComponent  [elementData]="scaleForm.value" (optionValue)="getOptionValue($event)"></app-filter-select>
                                </div>
                            </div>
                            <span class="file-message" *ngIf="optionsMessage && sliderOPtions.length === 0">Sin respuestas</span>
                        </div>
                        <div class="container-box">
                            <span class="label">Añadir Nota</span>
                            <app-toggle-button name="add_note" #appToggleButton (toggleValues)="getToggleValues($event)" [elementData]="scaleForm.value"></app-toggle-button>
                        </div>
                        <div class="container-box">
                            <span class="label">Incluir N/A (No Aplica)</span>
                            <app-toggle-button name="apply" #appToggleButton (toggleValues)="getToggleValues($event)" [elementData]="scaleForm.value"></app-toggle-button>
                        </div>
                        <div class="container-box">
                        <span class="label">Obligatorio</span>
                        <app-toggle-button name="required" #appToggleButton  (toggleValues)="getToggleValues($event)" [elementData]="scaleForm.value"></app-toggle-button>
                        </div>  
                    </div>
                    <div class="c-section">
                        <div class="container-box">
                            <span class="label">Adjuntar video/imagen para pregunta</span>
                            <div class="answer-box">
                                <div class="file-container">
                                    <input type="file" class="attach-btn btn" value="Adjuntar"  id="question_multimedia" formControlName="question_multimedia" (change)="onFileChange($event, 'question_multimedia')">
                                    <label for="question_multimedia">Adjuntar</label>
                                    <span class="file-message" *ngIf="qMessage">Archivo cargado</span>
                                </div>
                                <div class="clean-file-container" *ngIf="qMessage">
                                    <span class="btn-clean-file" (click)="resetInputFile('question_multimedia')"><img src="assets/icons/reset-icon.svg" alt=""></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        
            </div>
            <div class="btn-section">
                <div class="btn-s-left">
                    <button class="btn btn-bank {{this.scaleForm.value.addedToBank ? 'btn-bank-blocked' : ''}} "(click)="addToBank()" >{{this.scaleForm.value.addedToBank ? 'Agregada' : 'Agregar'}}<img src="assets/icons/bank-blue-icon.svg" alt=""></button>
                </div>
                <div class="btn-s-right">
                    <button class="btn-clean btn" type="button" (click)="onResetForm()">Restaurar <mat-icon>refresh</mat-icon> </button>
                </div>
            </div>
        </form>
        </div>
    </div>
    <div class="view-section"  *ngIf="!changeSection" >
        <div class="checkbox-view-container">
            <div class="checkbox-view-box">
                <span class="q-number">pregunta {{scaleForm.value.numeral}}</span>
                <span class="q-text">{{scaleForm.value.text}}</span>
                <div class="q-description"> <span class="dark-description" *ngIf="scaleForm.value.description != '' " >Descripción: </span>{{scaleForm.value.description}}</div>
                <div class="q-scale-section">
                    <div class="scale-circle-box" *ngIf="this.scaleForm.value.settings.apply">
                        <span class="scale-circle">N/A</span>
                    </div>
                    <div class="scale-circle-box" *ngFor="let item of sliderOPtions">
                        <span class="scale-circle {{verifyIndex(item) ? 'scale-circle-selected' : ''}} " (mouseenter)="mouseOver(item)"  (mouseleave)="cleanSliderOptions()" >{{item}}</span>
                        <span class="scale-circle-label">{{labelTitle(item)}}</span>
                    </div>
                </div>
                <span class="note-message"><span class="dark-message" *ngIf="addNote">Nota  </span>{{scaleForm.value.note_text}}</span>
                <div class="required-message-view" *ngIf="required">
                    <img src="assets/icons/warning-icon.svg" alt=""> Pregunta Obligatoria ACTIVADA</div>
                </div>    
        </div>
    </div>
</div>






