.main-container {

    background-color: white;
    border-radius: 5px;
    height: -webkit-fill-available;
    padding: 0px 15px;
    
    .top-options-section {
        height: 10%;
        display: flex;
        justify-content: center;
        border-bottom: 0.2px solid #B9B9B9;

        span {
            width: 60px;
            text-align: center;
            color: #B9B9B9;
            font-weight: 500;
            font-size: 12px;
            margin-top: auto;
            cursor: pointer;
            border-bottom: 3px solid #B9B9B9;
            padding-bottom: 10px;
        }
        
        span:hover{
            color: #333E48;
            border-color: #333E48;
        }
        
        .section-active {
            color: black;
            border-bottom: 3px solid black;
        }
    }

    .view-section,.edit-section {
        height: 90%;
    }

    .edit-section {
        .question-container {
            height: -webkit-fill-available;
            padding: 10px  0 20px;
            form {
                padding: 30px 8px 0 0;
                overflow-y: auto;
                height: -webkit-fill-available;
                margin-top: 3px;
                display: flex;
                flex-direction: column;
                gap: 30px;
        
            .btn {
                padding: 0 20px;
                width: max-content;
                color: white;
                height: 35px;
                background-color: #D8EEFF;
                border: 0.5px solid #0D99FF;
                border-radius: 6px;
                color: #0D99FF;
                font-size: 12px;
                font-weight: 500;
                font-family: "Poppins";
                cursor: pointer;
            }
            
            .btn:hover {
                background-color: #0D99FF;
                color: white;
                transition: background-color  0.25s ease-in;
            }
        
            .question-section {
                display: flex;
                min-height: 100px;
                border: 0.5px solid #bababa;
                border-radius: 5px;
        
                .question-s-number {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: #333E48;
                    font-weight: 600;
                    font-size: 18px;
                    width: 5%;
                }
        
                .question-s-container {
                    width: 95%;
                    display: flex;
                    flex-direction: column;
        
                    input {
                        width: 98%;
                        border: none;
                        color: #333E48;
                    }
        
                    input:focus {
                        outline: none;
                    }
        
                    .q-s-title {
                        height: 40%;
                        padding-top: 12px;
                        font-weight: 600;
                        font-size: 15px;
                    }
        
                    .q-s-description {
                        border-top: 1px solid #bababa;
                        height: 60%;
                        padding-bottom: 15px;
                        font-weight: 400;
                        font-size: 15px;
                    }
        
        
        
                }
            }
        
            .note-section {
                input {
                    border: 0.5px solid #B2B2B2;
                    color: #333E48;
                    border-radius: 5px;
                    width: -webkit-fill-available;
                    height: 70px;
                    padding-left: 10px;
                    font-size: 14px;
                }
        
                input:focus {
                    outline: none;
                    border: 0.2px solid #0D99FF;
                    background-color: white;
                }
            }

            .scale-section {
                width: auto;
                padding: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 15px;

                .scale-circle-box{
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    align-items: center;
                    margin-bottom: auto;

                    .scale-circle-label {
                        color: #b2b2b2;
                        font-weight: 400;
                    }

                    .scale-circle {
                        border-radius: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-weight: 600;
                        font-size: 20px;
                        height: 50px;
                        width: 50px;
                        border: 2px solid #B2B2B2;
                        color: #666666;
                        gap: 10px;
                    }
                }

                
            }
        

            .settings-section {
                border: 0.5px solid #bababa;
                border-radius: 5px;
                
                .settings-s-top{
                    height: 40px;
                    border-bottom: 0.5px solid #B2B2B2 ;
                    
                    .eyelash-box {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding: 0 5px;
                        width: 100px;
                        height: 100%;
                        margin-right: auto;
                        border-bottom: 2px solid black;
                        font-weight: 500;
                        font-size: 14px;
                    }
        
                }
        
                .settings-s-container {
                    padding: 0 20px;
        
                    .c-section {
                        display: flex;
                        gap: 30px;
                        padding: 15px 0;
                        border-top: 0.5px solid #B2B2B2;;
        
                        .container-box {
                            display: flex;
                            flex-direction: column;
                            gap: 5px;
        
                            input[type="file"]{
                                display: none;
                            }

                            .range-label {
                                width: 120px;
                                height: 20px;
                                border: 0.2px solid #bababa;
                                border-radius: 2px;
                                padding-left: 5px;
                                color: #333E48;
                            }

                            .range-label:focus {
                                outline: none;
                                border: 0.2px solid #0D99FF;
                            }
        
                            label {
                                display: inline-block;
                                text-align: center;
                                border: 0.2px solid #0D99FF;
                                background-color: #D8EEFF;
                                color: #0D99FF;
                                font-weight: 500;
                                font-size: 12px;
                                padding: 8px 25px;
                                width: fit-content;
                                border-radius: 5px;
                                user-select: none;
                                cursor: pointer;
                            }

                            label:active {
                                transform: scale(0.9);
                            }

                            .range{
                                
                                width: 200px;
                                background: #fff;
                                padding: 0 65px 0 45px;
                                
                                .sliderValue{
                                    position: relative;
                                    width: 100%;
                                  }
                                  .sliderValue span{
                                    position: absolute;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    height: 35px;
                                    width: 35px;
                                    transform: translateX(-50%) scale(0);
                                    font-weight: 500;
                                    top: -60px;
                                    line-height: 55px;
                                    font-size: 15px;
                                    z-index: 2;
                                    color: #0D99FF;
                                    transform-origin: bottom;
                                    transition: transform 0.3s ease-in-out;
                                  }
                                  .sliderValue span.show{
                                    transform: translateX(-20%) scale(1);
                                  }
                                  .sliderValue span:after{
                                    position: absolute;
                                    content: '';
                                    height: 100%;
                                    width: 100%;
                                    background:#D8EEFF;
                                    border: 2px solid #c0e4ff;
                                    z-index: -1;
                                    left: 50%;
                                    transform: translateX(-50%) rotate(45deg);
                                    border-bottom-left-radius: 50%;
                                    box-shadow: 0px 0px 8px rgba(0,0,0,0.1);
                                    border-top-left-radius: 50%;
                                    border-top-right-radius: 50%;
                                  }
                                
                                  .field{
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    height: 100%;
                                    position: relative;
                                  }
                                  .field .value{
                                    position: absolute;
                                    font-size: 18px;
                                    color: #0D99FF;
                                    font-weight: 600;
                                  }
                                  .field .value.left{
                                    left: -22px;
                                  }
                                  .field .value.right{
                                    right: -43px;
                                  }
                                }
                                
                                .range input{
                                  -webkit-appearance: none;
                                  width: 100%;
                                  height: 3px;
                                  background: #ddd;
                                  border-radius: 5px;
                                  outline: none;
                                  border: none;
                                  z-index: 2222;
                                }
                                .range input::-webkit-slider-thumb{
                                  -webkit-appearance: none;
                                  width: 20px;
                                  height: 20px;
                                  background: red;
                                  border-radius: 50%;
                                  background: #0D99FF;
                                  border: 1px solid #0D99FF;
                                  cursor: pointer;
                                }
                                .range input::-moz-range-thumb{
                                  -webkit-appearance: none;
                                  width: 20px;
                                  height: 20px;
                                  background: red;
                                  border-radius: 50%;
                                  background: #0D99FF;
                                  border: 1px solid #0D99FF;
                                  cursor: pointer;
                                }
                            
                            //---------------------------------------------------
                            .file-message {
                                color: #333E48;
                                font-size: 12px;
                            }
        
                            .answer-box {
                                display: flex;
                                gap: 20px;
        
                                .select-container {
                                    width: 200px;
                                }
        
                                .file-container {
                                    display: flex;
                                    flex-direction: column;
                                    gap: 3px;
                                }
        
                                .clean-file-container {
        
                                    .btn-clean-file {
                                        border-radius: 3px;
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                                        border: 1px solid #B2B2B2;
                                        padding: 6px;
                                        cursor: pointer;
        
                                        img {
                                            height: 23px;
                                        }
                                    }
        
                                    .btn-clean-file:hover {
                                        border: 1px solid #0D99FF;
                                        transition: border 0.2s ease-out;
                                    }
                                }
                            }
        
                            .label {
                                font-size: 12px;
                                color: #bababa;
                            }
                                    
                        }
                    }
        
                    .c-section:first-child {
                        border-top: none;
                    }
                }
            }
        
            .btn-section {
                display: flex;
                width: 100%;
                justify-content: space-between;

                .btn-s-left{
                    .btn-bank {
                        display: flex;
                        gap: 7px;
                        align-items: center;
                        background-color: white;
                        img {
                            height: 22px;
                        }
                    }
                    .btn-bank:hover {
                        color: #0079cf;
                        border-color: #0079cf;
                        transition: color 0.2s ease;

                        img {
                            filter: brightness(0) saturate(100%) invert(38%) sepia(68%) saturate(4707%) hue-rotate(186deg) brightness(90%) contrast(103%);
                        }
                    }

                    .btn-bank-blocked {
                        border-color: #bababa;
                        color: #bababa;
                        cursor: not-allowed;
                            img {
                                filter: brightness(0) saturate(100%) invert(77%) sepia(0%) saturate(0%) hue-rotate(91deg) brightness(99%) contrast(87%); 
                            }
                        }
                }
                .btn-s-right {
                    display: flex;
                    gap: 20px;

                    .btn-confirm {
                        background-color: #0D99FF;
                        color: white;
                        border: none;
                        height: 35px;
                        font-size: 13px;
                        font-weight: 600;
                        padding: 0 30px;
                    }
            
                    .btn-confirm:hover {
                        background-color: #0079cf;
            
                    } 
    
                    .btn-clean {
                        background-color: white;
                        color: #0D99FF;
                        border-color: #0D99FF;
                        display: flex;
                        gap: 5px;
                        align-items: center;
                        font-weight: 600;
                    }
    
                    .btn-clean:hover {
                        color: #0079cf;
                        border-color: #0079cf;
                        transition: color 0.2s ease;
                    }
                }
        
            }
        }
          form::-webkit-scrollbar {
            width: 7.5px;
            background-color: #ececec;
         }
        
          form::-webkit-scrollbar-thumb {
            background-color: #9b9b9b;
            border-radius: 3px;
         }
        }
        
    }

    .view-section {
        .checkbox-view-container {
            height: -webkit-fill-available;
            padding: 30px 0 20px ;
            
            .checkbox-view-box {
            display: flex;
            flex-direction: column;
            padding: 40px 10px  20px 40px;
            overflow-y: auto;
            gap: 20px;
            border: 0.5px solid #bababa;
            border-radius: 5px;
            height: -webkit-fill-available;
        
            .q-number {
                color: #7D7D7D;
                font-weight: 500;
                font-size: 15px;
            }
        
            .q-text {
                color: #333E48;
                font-size: 17px;
                font-weight: 500;
            }

            .q-description {
                font-size: 16px;
                font-weight: 400;
                color: #5A5A5A;

                .dark-description {
                    font-weight: 500;
                }
            }
        
            .q-scale-section {
                width: auto;
                padding: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 15px;

                .scale-circle-box{
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    align-items: center;
                    margin-bottom: auto;

                    .scale-circle-label {
                        color: #b2b2b2;
                        font-weight: 500;
                        font-size: 16px;
                        color: #333E48;
                    }

                    .scale-circle {
                        border-radius: 5px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-weight: 500;
                        font-size: 23px;
                        height: 60px;
                        width: 60px;
                        border: 1px solid #B2B2B2;
                        background-color: #EFEFEF;
                        color: #666666;
                        gap: 10px;
                    }

                    .scale-circle-selected, .scale-circle:hover {
                        border: 1px solid #0D99FF;
                        color: #0D99FF;
                        background-color: #D8EEFF;
                        transition: background-color, color 0.15s ease;
                        cursor: pointer;
                    }
                }

                
            }
        
            .note-message {
                color: #0D99FF;
                font-size: 13px;

                .dark-message {
                    font-weight: 500; 
                    font-size: 15px; 
                }
            }

            .required-message-view {
                color:#DD1F1F;
                font-size: 13px;
                font-weight: 500;
                display: flex;
                align-items: center;
                width: fit-content;
                gap:10px;

                img {
                    height: 20px;
                }
            }
        
            .required-message {
                color:#DD1F1F;
                border: 0.5px solid #DD1F1F;
                border-radius: 5px;
                padding: 7px 15px;
                font-size: 13px;
                font-weight: 500;
                display: flex;
                align-items: center;
                width: fit-content;
                gap:10px;
                
                img {
                    height: 20px;
                }
            }
            
        }
        .checkbox-view-box::-webkit-scrollbar {
            width: 7.5px;
            background-color: #ececec;
         }
        
          .checkbox-view-box::-webkit-scrollbar-thumb {
            background-color: #9b9b9b;
            border-radius: 3px;
         }
        
        }
    }
}



